# Experiment outputs
logs/
checkpoints/
*.pth
*.tfevents.*
# Python cache
__pycache__/
*.pyc
# Jupyter and temp files
*.ipynb_checkpoints/
*.tmp
*.log
# Large files and datasets
data/
*.tar.gz
*.sh
Miniconda3-latest-Linux-x86_64.sh
data/cifar-100-python.tar.gz
data/cifar-100-python/train
